body {
    background-color: rgb(7, 16, 19);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(223, 224, 226)
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 90px 360px auto 400px;
}

nav {
    grid-row: 1;
    grid-column: 1 / span 2;
}

header {
    grid-row: 2;
    grid-column: 1 / span 2;
    background-position: center;
    text-align: center;
    color: rgb(223, 224, 226);
    font-size: 30px;
    font-weight: 600;
}

section {
    grid-row: 3;
    grid-column: 1;
    padding: 70px;
    font-size: 18px;
}

footer {
    grid-row: 4;
    grid-column: 1 / span 2;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.075);
    background-image: url(backInverted.png);
    background: linear-gradient(to bottom, rgb(7, 16, 19), rgb(84, 89, 95));
}

aside {
    grid-row: 3;
    grid-column: 2;
}

.content {
    padding: 50px;
    margin: 0 auto;
    max-width: 800px;
    background-color: rgb(162, 174, 187);
    border-radius: 10px;
    background: linear-gradient(to top, rgba(162, 174, 187, 0.371), rgb(126, 137, 148));
}

.contentB {
    padding-bottom: 10px;
    margin: 0 auto;
    max-width: 800px;
    background-color: rgb(162, 174, 187);
    border-radius: 10px;
    background: linear-gradient(to top, rgba(162, 174, 187, 0.371), rgb(126, 137, 148));
    text-align: center;
}

.contentN {
    padding: 50px;
    margin: 0 auto;
    max-width: 800px;
    background-color: rgba(162, 174, 187, 0.667);
    border-radius: 10px;
    color: rgb(223, 224, 226);
    background: linear-gradient(to top, rgba(162, 174, 187, 0.371), rgb(126, 137, 148));
}

.contentP {
    padding: 50px;
    margin: 0 auto;
    max-width: 800px;
    background-color: rgb(162, 174, 187);
    border-radius: 5px;
    background: linear-gradient(to top, rgba(162, 174, 187, 0.371), rgb(126, 137, 148));
}


.contentN a {
    color: rgb(186, 186, 186);
}

.content p {
    text-align: center;
}

.content h3 {
    text-align: center;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.16);
    text-align: center;
    margin: 0 auto;
    margin: 30px;
    border-radius: 50px;
    
    
}

.top-bar {
    position: fixed;
    width: 100%;
    height: 110px;
    padding: auto;
    background-color: white;
}

.top-bar ul {
    position: relative;
    list-style: none;
}

.top-bar li {
    display: inline-block;
    margin-right: 50px;
    font-size: 40px;
    border-radius: 5px;
    padding: 5px;
}

.top-bar a {
    text-decoration: none;
    color: black;
}

.topBarText:hover {
    background-color: rgba(0, 0, 0, 0.092);
}


.SideBox {
    position: fixed;
    background-color: rgb(162, 174, 187, 0.667);
    background: linear-gradient(to top, rgba(162, 174, 187, 0.371), rgb(126, 137, 148));
    height: auto;
    height: auto;
    width: 170px;
    border-radius: 10px;
    transform: translateY(-70%);
    padding: 10px;
    font-size: 15px;
    padding-bottom: 15px;
}

.SideBox a {
    color: rgb(186, 186, 186);
    text-align: center;
}

.SideBox li {
    padding: 3px;
}

.SideBox p {
    text-align: center;
}

.SideBox h3 {
    text-align: center;
}


.info-box {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border: 1px solid #ccc;
    display: none;
    font-size: 14px;
    border-radius: 3px;
}

.LogoIcon {
    width: 90px;
    margin-right: 150px;
    position: relative;
    bottom: 10px;

}

.topBarText {
    position: relative;
    bottom: 13px;
    text-align: center;
    left: 12%;
    bottom: 40px;
}

.NewsBlock {
    background-color: rgba(0, 0, 0, 0.39);
    padding: 10px;
    border-radius: 10px;
}

.picBox {
    background-color: white;
    margin-right: 40%;
    padding: 3px;
}

.org {
    width: 90%;
    margin-left: 40px;
}

.link {
    color: rgb(186, 186, 186);
}

.picBox img {
    width: 450px;
}

.productPic{
    width: 300px;
}

.productGrid {
    grid-template-columns: 320px auto;
    display: grid;
    
}

.productPic {
    grid-column: 1;
}

.productDescription {
    grid-column: 2;
    
}

.shortD {
    font-size: 15px;
    color: rgb(186, 186, 186);
}

.hFinden {
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.39);
    margin-left: 250px;
}

.FindenA a {
    color: rgb(186, 186, 186);
    text-decoration: none;
}

.hFinden a:hover {
    cursor: wait;
}